@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


*{
    font-family: 'OCR+A+Extended','Roboto',sans-serif;

}

body{
    transition: 0.3s ease-in;
    margin-left: 70px;
    margin-right: 70px;
}
.container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.logoside img{
    margin-top: 10px;
}
.logoside h1{
    margin-top: 10px;
}

.nav{
    position: relative;
    grid-column: span 2 ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
   
}

.nav-btn{
    margin-top: 20px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 346px;
    height: 49px;
    right: 5%;
    font-size: 37px;
    

}
.nav-btn button{
    background: none;
    box-shadow: none;
}

.logoside{
    display: grid;
    grid-template-columns: 100px 1fr;
    
    justify-content: center;
    align-content: center;
    
}

.profile{
    
    position: relative;
    top: 10%;
    left: 40%;
    justify-content: center;
    margin-left: 100px;
    margin: 0px;
    padding: 0px;
    margin: 2px;
    
    
}



.mypic{
    margin-top: 10px;
    width: 135px ;
    
}

.article{
    margin-top: 20px;
}

.article h1{

    font-size: 50px;
}
.article p{
    
    width: 700px;
}

.main{
    position: relative;
    grid-column: span 2 ;
    display: grid;
    grid-template-columns: 430px 1fr;
}

.footer{
    position: absolute;
    bottom: 50px;
    left: 40.01%;
    padding: 30px;
}

button{
    
    border-width: 0px;
    cursor: pointer;
    box-shadow: none;
    transition: 0.3s ease-in;
    
}

button:hover{
    box-shadow: 1px 1px 5px -5px #000000;
    font-weight: bolder;
    border-radius: 3px;
    transform: scale(1.025);
    background-color: rgb(29, 28, 28);
    color: white;
}

.footer img{
    margin-left: 15px ;
    margin-left: 15px ;
    width: 30px;
    opacity: 80%;
}